<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title th:text="#{pageTitle}">App Store Categories</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></link>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
</head>
<body>
	<div class="container">
		<div class="header clearfix" th:fragment="header">
			<nav>
				<ul class="nav nav-pills pull-right">
					<li>
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								<span th:switch="__${#locale.language}__">
									<span th:case="en" th:text="#{english}">English</span>
									<span th:case="es" th:text="#{spanish}">Español</span>
									<span th:case="es" th:text="#{chinese}">Chinese</span>
									<span th:case="*" th:text="#{english}">English</span>
								</span> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li><a class="dropdown-item" th:href="@{?lang=en}" th:text="#{english}">English</a></li>
								<li><a class="dropdown-item" th:href="@{?lang=es}" th:text="#{spanish}">Español</a></li>
								<li><a class="dropdown-item" th:href="@{?lang=zh}" th:text="#{chinese}">Chinese</a></li>
							</ul>
						</div>
					</li>
					<li role="presentation" class="active"><a href="/ui/" th:text="#{home}">xxx</a></li>
<!-- 					<li role="presentation"><a href="/ui/app/profile" th:text="#{myAccount}">xxx</a></li> -->
<!-- 					<li role="presentation"><a href="/ui/profile/vehicles" th:text="#{vehicles}">xxx</a></li> -->
<!-- 					<li role="presentation" th:if="${profileId == null}"><a href="/ui/profile/set?id=1">(Set)</a></li> -->
				</ul>
			</nav>
			<br clear="all" />
			<h3 class="text-muted" th:text="#{pageTitle}">GM Infotainment - Terms &amp; Conditions</h3>
		</div>

		<footer class="footer" th:fragment="footer">
			<br clear="all" />
			<p>&copy; 2018 - General Motors</p>
			<p th:text="@{'CF Instance: ' + ${environmentIndex}}"></p>
		</footer>

	</div>
</body>
</html>