<html xmlns:th="http://www.thymeleaf.org">

<div class="card" th:classappend="|${term.status == T(com.gm.gsmc.pix.model.terms.TermsStatus).ACTIVE ? 'border-success' : ''} ${term.status != T(com.gm.gsmc.pix.model.terms.TermsStatus).ACTIVE ? 'border-secondary':' '}|" th:fragment="termsCard">
	<div class="card-header" th:text="${term.status}"
		th:classappend="|${term.status == T(com.gm.gsmc.pix.model.terms.TermsStatus).ACTIVE ? 'text-white bg-success' : ''} ${term.status != T(com.gm.gsmc.pix.model.terms.TermsStatus).ACTIVE ? 'bg-light':' '}|">Status</div>
	<div class="card-body"
		th:classappend="${term.status != T(com.gm.gsmc.pix.model.terms.TermsStatus).ACTIVE ? 'text-muted':' '}">
		<h5 class="card-title"
			th:text="@{${term.type} + ' ' + ${term.version}}">term version</h5>
		<h6 class="card-subtitle mb-2 text-muted"
			th:text="@{${term.language} + '-' + ${term.country}}">locale</h6>
		<ul class="list-group list-group-flush">
			<li class="list-group-item"
				th:text="@{'Country: ' + ${term.country}}">country</li>
			<li class="list-group-item"
				th:text="@{'Language: ' + ${term.language}}">language</li>
			<li class="list-group-item" th:text="@{'DocType: ' + ${term.type}}">type</li>
			<li class="list-group-item"
				th:text="@{'Version: ' + ${term.version}}">version</li>
			<li class="list-group-item"
				th:text="@{'Name: ' + ${term.displayName}}">name</li>
			<li class="list-group-item" th:text="@{'Status: ' + ${term.status}}">status</li>
			<li class="list-group-item"
				th:text="@{'Date: ' + ${term.effectiveDate}}">date</li>
			<li class="list-group-item" th:text="@{'Owner: ' + ${term.owner}}">owner</li>
			<li class="list-group-item"
				th:text="@{'Hash: ' + ${#strings.substring(term.hash,0,10)} + '...'}">hash</li>
		</ul>

		<a th:href="${term.url}" class="card-link">Download</a>
	</div>
</div>

</html>