<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
	<div class="container" th:with="pageTitle=#{header}">
		<div class="header clearfix" th:replace="fragments/head :: header">Header</div>

<!-- ***** CONTENT START ***** -->

		<div class="jumbotron">
			<h1 th:text="@{${country} + ' - ' + ${termsType}}">Country - Type</h1>
		</div>

		
		<div class="container">
			<div style="float:right">
				<form action="/ui/vin">
					<div class="form-row">
						<div class="col-auto">
							<input	type="text" class="form-control" id="vin" placeholder="Enter Vin" name="vin" />
						</div>
						<div class="col-auto">
							<select	class="form-control" id="language" name="language">
								<option th:each="doc : ${docs}" th:text="${doc.key}" th:value="${doc.key}">1</option>
							</select>
						</div>
						<div class="col-auto">
							<button type="submit" class="btn btn-primary">Search</button>
						</div>
					</div>
					<input type="hidden" name="country" th:value="${country}" />
				</form>
			</div>
			<p><a th:href="@{'/ui/country/' + ${country}}" th:text="@{'Back to ' + ${country}}"></a></p>
			<ul class="nav nav-tabs" >
		        <li class="nav-item" th:each="doc, docStat: ${docs}">
		            <a class="nav-link" th:classappend="${docStat.first} ? 'active'" th:href="@{'#'+ ${doc.key}}" data-toggle="tab"><label th:text="${doc.key}">key</label></a>
		        </li>
		    </ul>
		
		    <div class="tab-content" >
		        <div class="tab-pane fade" th:classappend="${docStat.first} ? 'show active'" th:id="${doc.key}" th:each="doc, docStat : ${docs}">
		        	<div class="row" >
			            <div class="col-md-8 col-lg-6 col-xl-4" th:each="term : ${doc.value}">
				            <div class="card" th:replace="fragments/termsCard :: termsCard">terms</div>
			            </div>
			        </div>
		        </div>
		    </div> 
		</div>





<!-- 		<div class="container"> -->
<!-- 		    <ul class="nav nav-tabs" > -->
<!-- 		        <li class="nav-item" th:each="doc, docStat: ${docs}"> -->
<!-- 		            <a class="nav-link" th:classappend="${docStat.first} ? 'active'" th:href="@{'#'+ ${doc.key}}" data-toggle="tab"><label th:text="${doc.key}">key</label></a> -->
<!-- 		        </li> -->
<!-- 		    </ul> -->
		
<!-- 		    <div class="tab-content" > -->
<!-- 		        <div class="tab-pane fade" th:classappend="${docStat.first} ? 'show active'" th:id="${doc.key}" th:each="doc, docStat : ${docs}"> -->
<!-- 		            <div class="card-deck"> -->
<!-- 			            <div class="card" th:classappend="|${term.status == T(com.gm.gsmc.pix.model.terms.TermsStatus).ACTIVE ? 'border-success' : ''} ${term.status != T(com.gm.gsmc.pix.model.terms.TermsStatus).ACTIVE ? 'border-secondary':' '}|" style="width: 24rem;" th:each="term : ${doc.value}"> -->
<!-- 			            	<div class="card-header" th:text="${term.status}" th:classappend="|${term.status == T(com.gm.gsmc.pix.model.terms.TermsStatus).ACTIVE ? 'text-white bg-success' : ''} ${term.status != T(com.gm.gsmc.pix.model.terms.TermsStatus).ACTIVE ? 'bg-light':' '}|">Status</div> -->
<!-- 							<div class="card-body" th:classappend="${term.status != T(com.gm.gsmc.pix.model.terms.TermsStatus).ACTIVE ? 'text-muted':' '}"> -->
<!-- 								<h5 class="card-title" th:text="@{${term.type} + ' ' + ${term.version}}">term version</h5> -->
<!-- 								<h6 class="card-subtitle mb-2 text-muted" th:text="@{${term.language} + '-' + ${term.country}}">locale</h6> -->
<!-- 								<ul class="list-group list-group-flush"> -->
<!-- 									<li class="list-group-item" th:text="@{'Country: ' + ${term.country}}">country</li> -->
<!-- 									<li class="list-group-item" th:text="@{'Language: ' + ${term.language}}">language</li> -->
<!-- 									<li class="list-group-item" th:text="@{'DocType: ' + ${term.type}}">type</li> -->
<!-- 									<li class="list-group-item" th:text="@{'Version: ' + ${term.version}}">version</li> -->
<!-- 									<li class="list-group-item" th:text="@{'Name: ' + ${term.displayName}}">name</li> -->
<!-- 									<li class="list-group-item" th:text="@{'Status: ' + ${term.status}}">status</li> -->
<!-- 									<li class="list-group-item" th:text="@{'Date: ' + ${term.effectiveDate}}">date</li> -->
<!-- 									<li class="list-group-item" th:text="@{'Owner: ' + ${term.owner}}">owner</li> -->
<!-- 									<li class="list-group-item" th:text="@{'Hash: ' + ${#strings.substring(term.hash,0,10)} + '...'}">hash</li> -->
<!-- 								</ul> -->
								
<!-- 								<a th:href="${term.url}" class="card-link">Download</a> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 		            </div> -->
<!-- 		        </div> -->
<!-- 		    </div>  -->
<!-- 		</div> -->



		<!-- ***** CONTENT END ***** -->
		<footer class="footer" th:replace="fragments/head :: footer">Footer</footer>
	</div>
</body>
</html>