<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
	<div class="container" th:with="pageTitle=#{header}">
		<div class="header clearfix" th:replace="fragments/head :: header">Header</div>

<!-- ***** CONTENT START ***** -->

		<div class="jumbotron">
			<h1>Supported Countries</h1>
		</div>

		<div class="row marketing col-sm-6 col-md-4">
			<ul th:each="country : ${countries}">
				<li><a th:href="@{'/ui/country/' + ${country}}" th:text="${country}">Country</a></li>
			</ul>
		</div>


		<!-- ***** CONTENT END ***** -->
		<footer class="footer" th:replace="fragments/head :: footer">Footer</footer>
	</div>
</body>
</html>