<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
	<div class="container" th:with="pageTitle=#{header}">
		<div class="header clearfix" th:replace="fragments/head :: header">Header</div>

<!-- ***** CONTENT START ***** -->

		<div class="jumbotron">
			<h1 th:text="${country}">Country</h1>
		</div>
		<p><a href="/ui/countries">Back to Countries</a></p>
		<div class="row marketing col-sm-6 col-md-4">
			<ul th:each="doc : ${docs}">
				<li><a th:href="@{'/ui/country/' + ${country} + '/terms/' + ${doc}}" th:text="${doc}">doc</a></li>
			</ul>
		</div>


		<!-- ***** CONTENT END ***** -->
		<footer class="footer" th:replace="fragments/head :: footer">Footer</footer>
	</div>
</body>
</html>