<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
	<div class="container" th:with="pageTitle=#{header}">
		<div class="header clearfix" th:replace="fragments/head :: header">Header</div>

<!-- ***** CONTENT START ***** -->

		<div class="jumbotron">
			<h1 th:text="@{${vin} + ' - ' + ${country} + '_' + ${language}}">vin - locale</h1>
		</div>

		<p><a th:href="@{'/ui/country/' + ${country}}" th:text="@{'Back to ' + ${country}}"></a></p>
		<div class="container">
		    <div class="row" >
	            <div class="col-md-8 col-lg-6 col-xl-4" th:each="term : ${terms.accepted}">
		            <div class="card" th:replace="fragments/termsCard :: termsCard">accepted</div>
	            </div>
	            <div class="col-md-8 col-lg-6 col-xl-4" th:each="term : ${terms.rejected}">
		            <div class="card" th:replace="fragments/termsCard :: termsCard">rejected</div>
	            </div>
	            <div class="col-md-8 col-lg-6 col-xl-4" th:each="term : ${terms.pending}">
		            <div class="card" th:replace="fragments/termsCard :: termsCard">pending</div>
	            </div>
	        </div>
		</div>



		<!-- ***** CONTENT END ***** -->
		<footer class="footer" th:replace="fragments/head :: footer">Footer</footer>
	</div>
</body>
</html>